{{ define "meta_tags" }}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ .Title }}">

{{ if .Params.image }}
  {{ with .Params.image }}
    <meta property="og:image" content="{{ . | absURL }}">
  {{ end }}
{{ else if .Site.Params.homepage_meta_tags.meta_og_image }}
  <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image | absURL }}">
{{ end }}

{{ if .Description }}
  <meta name="description" content="{{ .Description }}" />
  <meta property="og:description" content="{{ .Description }}" />
  <m
